In [1]:
 ! pip install xmltodict  # 국토부 실거래 데이터 xml -> json 변환

Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0

In [2]:
import os
import pandas as pd
import folium
import json
import seaborn as sns
import xmltodict
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, quote
from folium.plugins import HeatMap

In [3]:
molit_serviceKey = '발급받은서비스키입력'

In [4]:
def molit_public_api(key, rcode, dealdate):
  try:
    print(rcode, dealdate)
    base = "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?"

    try:
      parameters = "serviceKey=%s&" % (key) + urlencode({quote_plus('LAWD_CD'): rcode, quote_plus('DEAL_YMD'): str(dealdate), quote_plus('numOfRows'): str(9999)}, encoding='UTF-8')
    except:
      return None
        
    url = base + parameters
    # print('url', url)

    request = Request(url)
    response = urlopen(request)
    rescode = response.getcode()
    # print(rescode)
    if rescode == 200:
      response_body = response.read().decode('utf-8')
    else:
      print('error code :' + rescode)

    if response_body == None:
      return None

    jsonData = json.loads(json.dumps(xmltodict.parse(response_body)))
    # print(jsonData['response']['body']['items']['item'])
    df = pd.DataFrame(jsonData['response']['body']['items']['item'])
    print(df.shape)
    return df

  except Exception as e:
    print('exception occur!', str(e))

In [5]:
def get_yearmonth_list(year, month):
    this_yearmonth = date.today()
    init_yearmonth = datetime.strptime(year+month, "%Y%m").date()
    year_months = []
    while init_yearmonth <= this_yearmonth:
        year_months.append(init_yearmonth)
        init_yearmonth = init_yearmonth + relativedelta(months=1)
    return year_months

In [6]:
year_months = get_yearmonth_list(year='2012', month='1')

In [7]:
for year_month in year_months:
    dirname = '/content/drive/MyDrive/국토부_실거래'
    yearmonth = year_month.strftime("%Y%m") #202102
    
    filename = os.path.join(dirname, '{}.csv'.format(yearmonth))
    if not os.path.isfile(filename):
      df_molit_api = molit_public_api(molit_serviceKey, rcode='36110', dealdate=yearmonth)
      df_molit_api.to_csv(filename, encoding='utf8', index=False)
    else:
      print(yearmonth, '이미 파일이 존재합니다.')

201201 이미 파일이 존재합니다.
201202 이미 파일이 존재합니다.
201203 이미 파일이 존재합니다.
201204 이미 파일이 존재합니다.
201205 이미 파일이 존재합니다.
201206 이미 파일이 존재합니다.
201207 이미 파일이 존재합니다.
201208 이미 파일이 존재합니다.
201209 이미 파일이 존재합니다.
201210 이미 파일이 존재합니다.
201211 이미 파일이 존재합니다.
201212 이미 파일이 존재합니다.
201301 이미 파일이 존재합니다.
201302 이미 파일이 존재합니다.
201303 이미 파일이 존재합니다.
201304 이미 파일이 존재합니다.
201305 이미 파일이 존재합니다.
201306 이미 파일이 존재합니다.
201307 이미 파일이 존재합니다.
201308 이미 파일이 존재합니다.
201309 이미 파일이 존재합니다.
201310 이미 파일이 존재합니다.
201311 이미 파일이 존재합니다.
201312 이미 파일이 존재합니다.
201401 이미 파일이 존재합니다.
201402 이미 파일이 존재합니다.
201403 이미 파일이 존재합니다.
201404 이미 파일이 존재합니다.
201405 이미 파일이 존재합니다.
201406 이미 파일이 존재합니다.
201407 이미 파일이 존재합니다.
201408 이미 파일이 존재합니다.
201409 이미 파일이 존재합니다.
201410 이미 파일이 존재합니다.
201411 이미 파일이 존재합니다.
201412 이미 파일이 존재합니다.
201501 이미 파일이 존재합니다.
201502 이미 파일이 존재합니다.
201503 이미 파일이 존재합니다.
201504 이미 파일이 존재합니다.
201505 이미 파일이 존재합니다.
201506 이미 파일이 존재합니다.
201507 이미 파일이 존재합니다.
201508 이미 파일이 존재합니다.
201509 이미 파일이 존재합니다.
201510 이미 파일이 존재합니다.
201511 이미 파일이 존재합니다.
201512 이미 파일이 존재합니다.
201601 이미 파일이 존재합니다.
201602 이미 파일이 존재합니다.
201603 이미 파일이 존재합니다.
201604 이미 파일이 존재합니다.
201605 이미 파일이 존재합니다.
201606 이미 파일이 존재합니다.
201607 이미 파일이 존재합니다.
201608 이미 파일이 존재합니다.
201609 이미 파일이 존재합니다.
201610 이미 파일이 존재합니다.
201611 이미 파일이 존재합니다.
201612 이미 파일이 존재합니다.
201701 이미 파일이 존재합니다.
201702 이미 파일이 존재합니다.
201703 이미 파일이 존재합니다.
201704 이미 파일이 존재합니다.
201705 이미 파일이 존재합니다.
201706 이미 파일이 존재합니다.
201707 이미 파일이 존재합니다.
201708 이미 파일이 존재합니다.
201709 이미 파일이 존재합니다.
201710 이미 파일이 존재합니다.
201711 이미 파일이 존재합니다.
201712 이미 파일이 존재합니다.
201801 이미 파일이 존재합니다.
201802 이미 파일이 존재합니다.
201803 이미 파일이 존재합니다.
201804 이미 파일이 존재합니다.
201805 이미 파일이 존재합니다.
201806 이미 파일이 존재합니다.
201807 이미 파일이 존재합니다.
201808 이미 파일이 존재합니다.
201809 이미 파일이 존재합니다.
201810 이미 파일이 존재합니다.
201811 이미 파일이 존재합니다.
201812 이미 파일이 존재합니다.
201901 이미 파일이 존재합니다.
201902 이미 파일이 존재합니다.
201903 이미 파일이 존재합니다.
201904 이미 파일이 존재합니다.
201905 이미 파일이 존재합니다.
201906 이미 파일이 존재합니다.
201907 이미 파일이 존재합니다.
201908 이미 파일이 존재합니다.
201909 이미 파일이 존재합니다.
201910 이미 파일이 존재합니다.
201911 이미 파일이 존재합니다.
201912 이미 파일이 존재합니다.
202001 이미 파일이 존재합니다.
202002 이미 파일이 존재합니다.
202003 이미 파일이 존재합니다.
202004 이미 파일이 존재합니다.
202005 이미 파일이 존재합니다.
202006 이미 파일이 존재합니다.
202007 이미 파일이 존재합니다.
202008 이미 파일이 존재합니다.
202009 이미 파일이 존재합니다.
202010 이미 파일이 존재합니다.
202011 이미 파일이 존재합니다.
202012 이미 파일이 존재합니다.
202101 이미 파일이 존재합니다.
202102 이미 파일이 존재합니다.
202103 이미 파일이 존재합니다.
36110 202104
(12, 13)

In [8]:
df = pd.read_csv('/content/drive/MyDrive/국토부_실거래/202102.csv')
df.head()

      거래금액  건축년도     년  법정동  ...   지역코드   층  해제사유발생일  해제여부
0   64,000  2019  2021  반곡동  ...  36110   9      NaN   NaN
1   47,000  2019  2021  반곡동  ...  36110  11      NaN   NaN
2   62,500  2019  2021  반곡동  ...  36110   3      NaN   NaN
3  149,500  2020  2021  소담동  ...  36110  25      NaN   NaN
4   72,000  2020  2021  소담동  ...  36110   7      NaN   NaN

[5 rows x 13 columns]